server {
  index index.html index.htm;

  listen 80;
  server_name localhost;
  sendfile off;

  # see: https://wiki.apache.org/couchdb/Nginx_As_a_Reverse_Proxy

  location / {
    # First attempt to serve request as file, then
    # as directory, then fall back to index.html
    try_files $uri $uri/ /index.html;

    root /usr/share/nginx/html;
  }
}
